
:root {
    --text-color: #DBE4EF;
    --card-front-color: #144480;
    --card-back-color: #00F4BF;
}


body{
   background: url('img/bg-desktop.webp');
}


#container{
    display: flex;
}

.cartão{
    margin: 1rem 1rem;
    background-color: aqua;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}
    
.cartão___conteudo p{
    text-align: center;
  /* background-color: aquamarine; */
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out
}    

.cartão___conteudo h3{
    background-color: tomato;
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
     backface-visibility: hidden;
}

.cartão___conteudo___pergunta p{
  color: var(--text-color);
   font-weight: 500;
}


.cartão___conteudo___resposta p{
    color: var(--card-back-color);
    font-weight: 700;
}

.cartão:hover .cartão___conteudo{
    transform: rotateY(180deg);
}

.cartão___conteudo___pergunta,
.cartão___conteudo___resposta{
    backface-visibility: hidden;
}

.cartão___conteudo___resposta{
    
}


footer{
    background-color: black;
    color: white;
   position: fixed;
    bottom: 0;
     width: 100%;
     height: 2rem;
    }
  footer p{
    text-align: center;
    font-size: 1rem;
}


